<nav class="navbar navbar-expand-lg navbar-dark  bg-transparent fixed-top" id="myNavbar">
    <div class="container"> 
        <div class="row">
            <div class="col-md-4 col-10">
                <a class="navbar-brand" href="#">
                    <img src="https://demo.voidcoders.com/htmldemo/barber/main-files/assets/img/logo.png" alt="logo">
                </a>     
            </div>

            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>

            <div class="col-md-8 col d-flex navbar-menu">
                <div class="collapse navbar-collapse"  id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#home" (click)="toHome()">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about" (click)="toAbout()">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#service" (click)="toService()">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our Barbers</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    
                    </ul>

                    
                </div>
            </div>
        </div>  
    </div>
  </nav>


 