<!-- Footer -->
<footer class="page-footer">

    <!-- Footer Links -->
    <div class="container">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-8 left">
        <!-- Content -->
            <div class="logo-img">
                <img src="https://demo.voidcoders.com/htmldemo/barber/main-files/assets/img/logo.png" class="img-fluid" alt="">
            </div>
            
                <p>Materfront avenue, <br>
                    Street 2005F, USA</p>
                <p>+6016-1234567</p>
            
        </div>
        <!-- Grid column -->
  
        <hr class="">
  
        <!-- Grid column -->
        <div class="col-md-4 right">
  
          <!-- Links -->
          <h4>Useful Links</h4>
  
          <ul class="list-unstyled">
            <li>
              <a href="#about">About Us</a>
            </li>
            <li>
              <a href="#service">Service</a>
            </li>
            <li>
              <a href="#barbers">Our Barber</a>
            </li>
            <li>
              <a href="#works">Our Works</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Barber Web:
      <a href="https://mdbootstrap.com/">All Rights Reserved By Jasper</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->