<div class="container about-space"> 
    <div class="row">
        <div class="col-md-6">
            <div class="about-desc">
                <h2>The silidium barber</h2>
                <h2>Since 1995</h2>
                <p class="about-p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eos voluptatum ratione incidunt distinctio esse vitae pariatur iste, vel, tempore libero in, harum consectetur consequatur nisi inventore a quis magnam.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, corrupti doloremque dolorem, laudantium accusantium modi minima ab rem distinctio officiis reprehenderit dolores, necessitatibus laboriosam similique repellendus aut porro non ipsam?</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="about-img">
                <div class="row">
                    <div class="col-md-6">
                        <div class="as-img as-img1" data-aos="fade-up" data-aos-duration="1500">
                            <img class="img-fluid" src="https://demo.voidcoders.com/htmldemo/barber/main-files/assets/img/about/about8.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                        <div class="as-img as-img2" data-aos="fade-down" data-aos-duration="1500">
                            <img class="img-fluid" src="https://demo.voidcoders.com/htmldemo/barber/main-files/assets/img/about/about9.jpg" alt="">
                        </div>
                        <div class="as-img" data-aos="fade-right" data-aos-duration="1500">
                            <img class="img-fluid" src="https://demo.voidcoders.com/htmldemo/barber/main-files/assets/img/about/about10.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
