<div class="container service-space">
    <div class="service-title ">
        <h2 class="text-center" data-aos="fade-up" data-aos-duration="1500">What We Do</h2>
        <div class="row">
            <div *ngFor="let content of contents" class="col-md-4 content-space">
                <div class="icons">
                    <i class="{{content.icon}}"></i>
                </div>
                <h3>{{content.title}}</h3>
                <p>{{content.desc}}</p>
            </div>
        </div>
    </div>
</div>