h2{
    font-size:40px;
    font-weight:700;
    margin-bottom:0;
    font-family: var(--title-font);
    color:white;
}

.service-space{
    padding:80px 0;
}

.content-space{
    font-family: var(--primary-font);
    text-align: left;
    margin-top:60px;
}



.content-space .icons i::before{
    font-size:60px;
    color:var(--primary-color);
}
.content-space h3{
    padding:25px 0;
    font-weight: 700;
    position: relative;
    font-family: var(--title-font);
    color:white;
}

.content-space p{
    font-size: 16px;
    font-weight: 400;
    color:white;
}

@media(max-width:720px){
    .service-space{
        padding:30px 25px;
    }

    .content-space h3{
        font-size:30px;
    }
}