<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-content text-center" data-aos="fade-up" data-aos-duration="1500">
                    <h1>Look Different With Us</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis cupiditate laborum quas, porro voluptates necessitatibus facere quaerat ullam doloribus? Corrupti, est omnis. Iste nisi impedit veritatis dolorum rerum assumenda ipsam.</p>
                    <a href="" class="btn btn-check" role="button">Check me out</a>
                </div>
            </div>
        </div>
    </div>
</div>
