/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import url(_variable.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#service{
    background-color:var(--secondary-color);
}

#works{
    background-color: var(--secondary-color);
}
